<!-- src/app/components/visualizador/visualizador.component.html -->
<h1 class="galaxia">Evaluación Sumativa</h1>
<div [ngStyle]="{'font-size': fontSize + 'px'}">
  <!-- Botón Primario que aumenta el tamaño de fuente -->
  <!-- Botón Primario que aumenta el tamaño de fuente -->
  <app-boton-primario 
  [ngStyle]="{'font-size': fontSize + 'px'}" 
  (fontSizeChange)="onFontSizeChange()">
</app-boton-primario>

<!-- Botón Secundario que disminuye el tamaño de fuente -->
<app-boton-secundario 
  (fontSizeDecrease)="onFontSizeDecrease()">
</app-boton-secundario>

  <!-- Botón Aceptar que cambia el color del cuadro -->
  <app-boton-aceptar (acceptClick)="onAcceptClick()"></app-boton-aceptar>

  <!-- Botón Cancelar que restablece el color del cuadro -->
  <app-boton-cancelar (cancelClick)="onCancelClick()"></app-boton-cancelar>

  <app-boton-modo-oscuro ></app-boton-modo-oscuro>

  <form (ngSubmit)="subirResultados()" [ngStyle]="{'font-size': fontSize + 'px'}">
    <app-email (emailChange)="onEmailChange($event)"></app-email>
    <div *ngIf="emailError" class="error">{{ emailError }}</div>
  
    <app-password (passwordChange)="onPasswordChange($event)"></app-password>
    <div *ngIf="passwordError" class="error">{{ passwordError }}</div>
  
    <app-texto (textoChange)="onTextoChange($event)"></app-texto>
  
    <button type="button" (click)="subirResultados()">Enviar</button>
  </form>
  
  <div class="resultados" [ngStyle]="{'font-size': fontSize + 'px'}">
    <h3>Resultados:</h3>
    <p>Email: {{ email }}</p>
    <p>Password: {{ password }}</p>
    <p>Texto: {{ texto }}</p>
  </div>
  
  
  <!-- Cuadro que cambiará de color -->
  <div class="cuadrito-container">
    <p class="cuadrito-title">CUADRITO</p>
    <div class="cuadrito-box" style="background-color: {{ boxColor }};"></div>
  </div>
  

</div>