/* Estilos generales */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Suaviza la transición */
}

/* Modo Claro */
body.light {
  background-color: #f5f5f5;
  color: #333;
}

/* Modo Oscuro */
body.dark {
  background-color: #1a1a1d;
  color: #f5f5f5;
}

/* Estilo para el botón */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

body.light button {
  background-color: #0072ff;
  color: #fff;
}

body.dark button {
  background-color: #555;
  color: #fff;
}
