.container {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.left-panel {
  flex: 1; /* Toma la mitad del ancho */
  padding: 20px;
  border-right: 1px solid #ccc; /* Línea divisoria opcional */
}

.right-panel {
  flex: 1; /* Toma la otra mitad del ancho */
  padding: 20px;
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: center; /* Centra el contenido verticalmente */
}

.response-form {
  background-color: #f9f9f9; /* Color de fondo para el formulario */
  padding:  20px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}