button {
  padding: 15px 30px; /* Tamaño uniforme */
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.mercurio {
  background: linear-gradient(45deg, #d4d4d4, #a9a9a9);
  color: #333;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, transform 0.2s ease-in-out;
}

button.mercurio::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent);
  transform: rotate(45deg);
  transition: transform 1s linear;
  z-index: 0;
}

button.mercurio:hover {
  background: linear-gradient(45deg, #a9a9a9, #6e6e6e);
  transform: scale(1.05);
}

button.mercurio:hover::before {
  transform: rotate(405deg);
}
