button {
  padding: 15px 30px; /* Tamaño uniforme */
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button {
  background: black;
  color: white;
  position: relative;
  overflow: hidden;
}

button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, white 1px, transparent 1px);
  background-size: 5px 5px;
  opacity: 0.3;
  z-index: 0;
}

button:hover {
  color: #00bfff;
  transform: scale(1.05);
}
