.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px; /* Espacio entre los botones */
  padding: 20px; /* Espacio alrededor de la cuadrícula */
  max-width: 600px; /* Ancho máximo del contenedor */
  margin: auto; /* Centrar el contenedor */
}

button {
  padding: 15px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s; /* Transición suave para el color */
  display: flex; /* Para centrar el ícono */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
}

button:hover {
  opacity: 0.9; /* Efecto al pasar el mouse */
}
.app-boton-modo-oscuro {
  background-color: #343a40; /* Negro */
  color: white; /* Texto blanco */
}

/* Estilo para el ícono de luna en el botón de modo oscuro */
.app-boton-modo-oscuro::before {
  content: '🌙'; /* Emoji de luna */
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}